body {
    font-family: 'Raleway', serif;
}


.main {
    margin-left: 10%;
    margin-right: 10%;
    grid-template-columns: 20% 80%;
    background-color: #fff;
    font-family: 'Raleway', serif;
    font-size: 90%;
}