@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body {
	/* overflow: hidden; */
	height: 95vh;
}

::selection {
    color: #191970;
    background: #E19C35;
}

nav {
    position: fixed;
    background: #191970;
    width: 100%;
    padding: 10px 0;
    z-index: 12;
}

nav .menu {
    max-width: 1250px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.menu .logo a {
    text-decoration: none;
    color: seashell;
    font-size: 35px;
    font-weight: 600;
}

.menu ul {
    display: inline-flex;
}

.menu ul li {
    list-style: none;
    margin-left: 7px;
}

.menu ul li:first-child {
    margin-left: 0px;
}

.menu ul li a {
    text-decoration: none;
    color: seashell;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.menu ul li a:hover {
    background: #E19C35;
    color: seashell;
}

.main .title {
    color: #191970;
    font-size: 50px;
    font-weight: 700;
}

.main .btns {
    margin-top: 20px;
}

.main .btns button {
    height: 55px;
    width: 170px;
    border-radius: 5px;
    border: none;
    margin: 0 10px;
    border: 2px solid black;
    font-size: 20px;
    font-weight: 500;
    padding: 0 10px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
}

.main .btns button:first-child {
    color: seashell;
    background: #E19C35;
    border: 2px solid #E19C35;
}

.btns button:first-child:hover {
	color: #E19C35;
    background: seashell;
}

.main .btns button:last-child {
    background: seashell;
    color: #191970;
}

.btns button:last-child:hover {
    background: #191970;
    color: seashell;
  }

div .footer {
    width: 100%;
	height: 100px;
	text-align: center;
	justify-content: center;
}

.social-icon {
	color: #aaaaaa;
	transition: color 0.2s;
	text-decoration: none;
	margin: 0 10px;
	font-size: 32px;
	/* text-align: center; */
}

.social-icon:hover {
	color: #E19C35;
}
